<div class="container">
    <div class="sider-menu">
      <div class="menu-block flex-center">
        <div class="menu-icon"></div>
        <div class="memu-text">
          button
        </div>
      </div>
      <div class="menu-block flex-center">
        <div class="menu-icon"></div>
        <div class="memu-text">
          button
        </div>
      </div>
      <div class="menu-block flex-center">
        <div class="menu-icon"></div>
        <div class="memu-text">
          button
        </div>
      </div>
      <div class="menu-block flex-center">
        <div class="menu-icon"></div>
        <div class="memu-text">
          button
        </div>
      </div>
      <div class="menu-block flex-center">
        <div class="menu-icon"></div>
        <div class="memu-text">
          button
        </div>
      </div>
      <div class="menu-block flex-center">
        <div class="menu-icon"></div>
        <div class="memu-text">
          button
        </div>
      </div>
      
    </div>
    <div class="chat-container">
      <app-chat-page></app-chat-page>
    </div>
  </div>